<div class="row">
    <div class="col col-md-12 albums">
        <div class="container-fluid spotify-app">
            <div class="row">

                <section class="col-md-12 clean-paddings">

                    <p>{{json}}</p>

                    <table class="table table-songs">
                        <tbody>
                            <tr *ngFor="let item of albums">
                                <span (click)="getTracks(item.id)">
                                <td><img src="{{item.images[2].url}}" class='album-image' /></td>
                                <td>{{item.name}}</td>
                            </span>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>

<!--Tracks-->
<div class="row">
    <div class="col col-md-12 albums">
        <div class="container-fluid spotify-app">
            <div class="row">
                <section class="col-md-12 clean-paddings">
                    <table class="table table-songs">
                        <tbody>
                            <tr *ngFor="let track of albumTracks">
                                <td>1 {{track.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>
