<div class="row">
    <div class="col col-md-3">
        <div class="card">
            <img class="card-img-top" src="{{data.images[1].url}}" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">{{data.name}}</h4>
                <p class="card-text"><span class="metric" *ngFor="let item of data.genres">{{item}} </span></p>
                <p>Next update in {{timeLeft}} sec.</p>
                <h4><span class="badge badge-success">ACI: {{aci}}</span></h4>
            </div>
        </div>
    </div>
    <div class="col col-md-9">
        <div class="chart-wrapper">
            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                [plugins]="lineChartPlugins">
            </canvas>
        </div>
    </div>
</div>

<!--Grid-->
<div class="row">
    <div class="col col-md-12 albums">
        <div class="container-fluid spotify-app">
            <div class="row">
                <section class="col-md-12 clean-paddings">
                    <h4>ACI History</h4>
                    <table class="table table-songs">
                        <tbody>
                            <tr *ngFor="let e of history">
                                <td>{{e.timestamp}}</td>
                                <td>{{e.aci}}</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col col-md-12 albums">
        <div class="container-fluid spotify-app">
            <div class="row">
                <section class="col-md-12 clean-paddings">
                    <h4>Popular Tracks</h4>
                    <table class="table table-songs">
                        <tbody>
                            <tr *ngFor="let track of popularTracks" >
                                
                                <td>{{track.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>

<!--Grid-->
<div class="row">
    <div class="col col-md-12 albums">
        <div class="container-fluid spotify-app">
            <div class="row">
                <section class="col-md-12 clean-paddings">
                    <h4>Albums</h4>
                    <table class="table table-songs">
                        <tbody>
                            <tr *ngFor="let item of albums">
                                <td><img src ="{{item.images[2].url}}" class='album-image'/></td>
                                <td>{{item.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>